
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('./assest/bggg.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 

  min-height: 100vh;
}

.app-container {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  padding: 20px; 
}
